.lastsearches {
  margin: 2rem;
}
.lastsearches__itemsContainer {
  background-color: #252130;
  border-radius: 25px;
  max-height: 500px;
  overflow-y: auto;
}

.lastsearches__title {
  padding: 0rem 2rem 0 0rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.lastsearches__item {
  display: flex;
  justify-content: space-between !important;
  /* border: 1px solid white; */
  padding: 1rem;
  border-bottom: 1px solid gray;
}
.lastsearches__item__left {
  display: flex;
  align-items: center;
  width: 70%;
}

.lastsearches__item__left__avatar {
  padding-right: 1rem;
}
.lastsearches__item__left__text {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: rgb(255, 255, 255);
}

.lastsearches__item__left__text > h4 {
  font-weight: 500 !important;
  color: rgb(219, 213, 213) !important;
}
.lastsearches__item__left__text > p {
  color: rgba(255, 255, 255, 0.335) !important;
}
.lastsearches__item__right__button {
  color: white !important;
  background-color: red !important;
  margin-right: 2rem !important;
  text-transform: none !important;
}
.lastsearches__divider {
  background-color: gray !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
