.main__components {
  display: flex !important;
}
.main__components__searches {
  width: 50%;
  height: 100%;
  border: 1px solid white;
}

.main__components__favs {
  width: 50%;
  height: 100%;
  border: 1px solid white;
}

.videoList__title {
  padding: 1rem 2rem 0 2rem;
  font-weight: 400;
}
