.videoDetailPage {
  width: 100%;
}

/* .videoList__items {
  flex-wrap: nowrap;
} */

.videoDetailPage__app__title {
  padding: 1rem 2rem;
}
.videoDetailPage__loaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
