.searchBar {
  display: flex;
  align-items: center;
  min-width: 15vw;
}

.searchBar > input {
  padding: 1rem 0.7rem;
  flex: 1;
  border: none;
  color: white;
  background-color: #01011d;
  font-size: 1.2rem;
}
.searchBar > input:hover {
  outline: 1px solid #7e878f;
  border-radius: 5px;
}
.searchBar > input:focus-visible {
  outline: 1px solid #606971 !important;
  border-radius: 5px;
}

.searchBar__Button {
  width: 40px !important;
  height: 25px !important;
  padding: 0.5rem 0 0.5rem 0;
  color: gray;
}
.searchBar > input::placeholder {
  font-weight: bold;
  color: #a7b6c2;
}
